body {
  width: auto;
  background-color: lightgray;
  font-family: "Josefin Sans";
}
.navbar {
  height: 40px;
  border-radius: 0px;
  background-color: rgb(37, 35, 35);
  opacity: 1;
  border: none;
  width: auto;
  margin-top: 0px;
  min-width: 600px;
  font-weight: 200;
  font-size: 17px;
  color: aliceblue;
}
#wrapper {
  padding-top: 20px;
}
#return-panel.row {
  height: 400px;
  width: auto;
  margin: 0px;
  background-color: rgb(51, 49, 58);
  padding: 30px;
}
#input-panel.row {
  height: auto;
  width: 100%;
  margin: 0px;
}
.col-md-4 {
  position: relative;
  padding: 15px;
  margin: 5px;
  min-width: 200px;
  min-height: 200px;
  color: lightgray;
  background-color: rgb(147, 153, 173);
}
#codes {
  display: inline-block;
  overflow: auto;
  width: auto;
  height: auto;
}
#notes {
  width: auto;
}

table,
th,
tr,
td {
  border-color: black;
  border-style: dotted;
  border-width: 0.5px;
  width: auto;
  padding: 15px;
  text-align: center;
}
button {
  height: 20px;
}
textarea,
input {
  display: block;
  width: 100%;
  background-color: black;
}
input {
  height: 36px;
  font-size: 24px;
}
textarea {
  height: 200px;
  font-size: 18px;
}
